.ltext-103 {
  font-family: Helvetica;
  font-size: 40px;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  color:#0033CC;
}
.flash-del {
text-decoration:line-through;
margin-right:10px;
}
.flash-sale {
color:#FF0000 !important;
}

