.ltext-103 {
  font-family: Helvetica;
  font-size: 40px;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  color:#0033CC;
}
.flash-del {
text-decoration:line-through;
margin-right:10px;
}
.flash-sale {
color:#FF0000 !important;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 12px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

@media(min-width: 768px) {
  .field-label-responsive {
    padding-top: .5rem;
    text-align: right;
  }
}



